@import "~react-image-gallery/styles/css/image-gallery.css";

.photo-section {
  display: flex;
  padding: 18px;
  justify-content: space-around;
  gap: 12px;
}

.photo-section .image-gallery {
  border-radius: 7%;
  overflow: hidden;
  background: black;
  width: 50%;
  height: 600px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: none;
}

.blurb {
  max-width: 500px;
  font-size: 38px;
  font-weight: 600;
  align-self: center;
}

@media (max-width: 1270px) {
  .blurb {
    max-width: none;
    padding: 108px;
  }

  .photo-section {
    flex-direction: column;
  }

  .photo-section .image-gallery {
    border-radius: 7%;
    overflow: hidden;
    background: black;
    width: auto;
    height: 500px;
  }
}

@media (max-width: 740px) {
  .blurb {
    padding: 32px;
  }

  .photo-section .image-gallery {
    height: 300px;
  }
}
