body {
  background: #5c374c;
  color: #faa275;
  font-family: "K2D", sans-serif;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

hr {
  border-color: #faa275;
}
