nav.desktop-view {
  margin: 0 auto;
  max-width: 2000px;
  padding: 32px;

  display: flex;
  justify-content: space-between;
}
nav.mobile-view {
  display: none;
}

.title {
  width: 350px;
}

a {
  transition: 0.4s;
}
a:hover {
  filter: brightness(0.74) contrast(2.42) hue-rotate(-9deg);

  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 850px) {
  nav.desktop-view {
    display: none;
  }
  nav.mobile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 200px;
    padding-bottom: 18px;
  }

  .mobile-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
